

.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}


.introducao h1 {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 8px;
  position: relative;
  color: #333;
}

/* colocar o detalhe no texto h1 */
.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../imagem/detalhe.svg") no-repeat center;
  position: absolute;
  /*  para posicionar o svg atrás do texto: tem que colocar position relative no pai, introducao h1*/
  top: -15px;
  left: -40px;
  /* zindex joga para trás */
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px; 
  }
  .introducao h1 {
    font-size: 2.2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}


/* para sumir com a imagem abaixo de 400px display none*/
@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
